@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,300&display=swap');

body {
    height: 100vh;
    margin: 0;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
}

/* SECTION-1 */

.section-1 {
    display: flex;
    flex-direction: column;
    gap: 150px;
    padding: 20px 200px 150px;
    background-color: #1f2937;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-title {
    color: #f9faf8;
    font-size: 24px;
}

ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.presentation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.short-description {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 16px;
}

.description-title {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
}

a,
.description-text {
    color: #e5e7eb;
    font-size: 18px;
}

button {
    border: none;
    border-radius: 10px;
    background-color: #3882f6;
    color: white;
    padding: 5px 30px;

}

.image {
    background-color: rgb(130, 130, 130);
    color: #e5e7eb;
    width: 600px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* SECTION-2 */

.section-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.information {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

.information-items {
    display: flex;
    gap: 60px;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item-image {
    border: solid 4px #3882f6;
    border-radius: 15px;
    width: 200px;
    height: 200px;
}

.item-text {
    width: 170px;
    color: rgb(130, 130, 130);
    font-size: 18px;
}